<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/stylesheets/styles.css}">

<body>


<nav class="w3-bar w3-dark-grey">
    <a th:href="@{/home}" class="w3-bar-item-left" style="text-decoration: none;">MEDPORTAL</a>
    <a class="w3-bar-item-right" style="text-decoration: none;">SIGN UP</a>
</nav>

<div>
    <nav class="w3-sidenav w3-grey">
        <br>
        <a th:href="@{/default_doctor}" class="w3-button w3-bar-item-right" style="text-decoration: none;">PATIENT LIST</a>
        <a th:href="@{/not_implemented_yet}" class="w3-button w3-bar-item-right" style="text-decoration: none;">APPOINTMENTS</a>
        <a th:href="@{/not_implemented_yet}" class="w3-button w3-bar-item-right" style="text-decoration: none;">TO DO</a>
        <a th:href="@{/not_implemented_yet}" class="w3-button w3-bar-item-right" style="text-decoration: none;">EDIT PROFILE</a>
        <a th:href="@{/not_implemented_yet}" class="w3-button w3-bar-item-right" style="text-decoration: none;">LOG OUT</a>
    </nav>
</div>

<div class="container">
    <div class="info-group">
        <h2 th:text="${patient.fullName}"></h2>
    </div>
    <div class="info-group">
        <label>ID</label>
        <div class="info" th:text="${patient.id}"></div>
    </div>
    <div class="info-group">
        <label>Age</label>
        <div class="info" th:text="${patient.age}"></div>
    </div>
    <div class="info-group">
        <label>Date of birth</label>
        <div class="info" th:text="${patient.dateOfBirth}"></div>
    </div>
    <div class="info-group">
        <label for="address">Address</label>
        <div class="info" id="address" th:text="${patient.address}"></div>
    </div>
    <div class="info-group">
        <label for="comp">Complaints</label>
        <div class="info" id="comp" th:text="${patient.complaints}"></div>
    </div>
    <div class="info-group">
        <form method="GET" th:action="@{'/patientInfo/{patient_id}/prescriptions/'(patient_id=${patient.id})}">
            <button type="submit" name="submit" value="value" class="w3-button">VIEW PRESCRIPTIONS</button>
        </form>
    </div>
</div>

</body>
</html>